<aside class="sidebar">
<h3 class="published" title="{{ article.date.isoformat() }}">
               {{ article.locale_date }}
</h3>

<p>
<div class="tag">
  Published in <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{
    article.category }}</a>
  
   
    </div>

{% include 'taglist.html' %}
{% include 'translations.html' %}

<a href="http://flattr.com/thing/1717563/Fetchez-le-Python" target="_blank"><img
  src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this"
  title="Flattr this" border="0" style="margin-top: 10px"/></a>

</p>

</aside><!-- /.post-info -->
