{% extends "base.html" %}
{% block title %}Books I wrote{% endblock %}
{% block content %}
        <section class="content blog">
            <div class="constraint">

 <a href="http://www.amazon.com/exec/obidos/ASIN/184719494X/sharedlinks-20">
  <img src="{{ SITEURL }}/theme/images/epp.jpg" alt="" width="170" height="200" class="right" />
 </a>
 
 <a href="http://www.amazon.fr/exec/obidos/ASIN/2100508830/programmation-21">
  <img src="{{ SITEURL }}/theme/images/pg.jpg" alt="" width="170" height="200" class="right" />
 </a>
 
 <a href="http://www.amazon.fr/exec/obidos/ASIN/221212483X/programmation-21">
   <img src="{{ SITEURL }}/theme/images/pp.jpg" alt="" width="170" height="200" class="right" />
 </a>
 </div>
</section>
{% endblock %}

