{% extends "base.html" %}
{% block title %}Books I wrote{% endblock %}
{% block content %}
<section class="content blog">
    <div class="constraint">
        <h2 class="title">Books</h2>
        <ul class="books">
            <li>
                <a target="_blank" href="http://www.packtpub.com/expert-python-programming/book">
                    <img src="{{ SITEURL }}/theme/images/epp.jpg">
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.dunod.com/informatique-multimedia/developpement/autres-langages/ouvrages-professionnels/python">
                    <img src="{{ SITEURL }}/theme/images/pg.jpg">
                </a>
            </li>
            <li class="last">
                <a target="_blank" href="http://www.editions-eyrolles.com/Livre/9782212116779">
                    <img src="{{ SITEURL }}/theme/images/pp.jpg">
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}

