{% extends "base.html" %}
{% block title %}Books I wrote{% endblock %}
{% block content %}

<section id="content" class="body">

<p>Open source Projects I am focusing on these days, besides my main work at Mozilla</p>

<ul>
  <li><a href="https://github.com/mozilla-services/circus">Circus</a> - a process and socket manager</li>
  <li><a href="https://github.com/mozilla-services/marteau">Marteau</a> - a web dashboard for distributed load tests</li>
  <li><a href="https://github.com/mozilla-services/vaurien">Vaurien</a> - a TCP Chaos Monkey</li>
</ul>
</section>

{% endblock %}
