{% extends "base.html" %}
{% block title %}Books I wrote{% endblock %}
{% block content %}

<section id="content" class="body">

<p>Open source Projects I am focusing on these days, besides my main work at Mozilla</p>

<ul>
  <li><a href="http://circus.io">Circus</a> - a process and socket manager</li>
  <li><a href="http://marteau.readthedocs.org">Marteau</a> - a web dashboard for distributed load tests</li>
  <li><a href="http://vaurien.readthedocs.org">Vaurien</a> - a TCP Chaos Monkey</li>
</ul>
</section>

{% endblock %}
