{% extends "base.html" %}
{% block title %}Open Source projects{% endblock %}
{% block content %}



<section class="content blog">
<div class="constraint">

                <section class="branding">
                    <span class="avatar">
                        <a style="width:100%;height:100%;display:block;" href="#"></a>
                    </span>
                    <h1 class="introduction">I'm Tarek Ziadé.</h1>
                    <h2 class="strapline">I am a Python developer, located in Dijon, France. I work at <a href="http://mozilla.com" target="_blank">Mozilla</a> in the Services team.
                        I founded a French Python User group, called <a title="Afpy" href="http://afpy.org" target="_blank">Afpy</a>, and I have written several articles
                        about Python for several magazines, and a few <a href="/books.html">books</a> in French and in English.
                    </h2>
                </section>

 </section>
 </div>
{% endblock %}

