{% extends "base.html" %}
{% block title %}Open Source projects{% endblock %}
{% block content %}

<section class="content blog">
  <div class="constraint">
    <section class="branding">
      <span class="avatar">
        <a style="width:100%;height:100%;display:block;" href="#"></a>
      </span>
      <h1 class="introduction">Who am I</h1>
      <h2 class="strapline">
        Tarek Ziadé is a Software engineer, located in Burgundy - France. 
        He works at <a href="https://www.elastic.co" target="_blank">Elastic</a> building tools for developers.
        Before Elastic, he worked at Mozilla for 10 years, and he founded a French Python User group, 
        called <a title="Afpy" href="http://afpy.org" target="_blank">Afpy</a>.
        Tarek also wrote several articles about Python for several magazines, 
        and a few <a href="/books.html">books</a> in French and in English.
      </h2>
    </section>
  </div>
</section>


{% endblock %}

