{% extends "base.html" %}
{% block title %}Books I wrote{% endblock %}
{% block content %}
<section class="content blog">
<div class="constraint">

	<article>
<p>This is just a short list of some tools I like to use</p>

<ul>
 <li><a href="http://www.vim.org">VIM - text editor</a></li>
 <li><a href="https://www.gnu.org/software/screen/">Screen - virtual consoles multiplexer</a></li>
 <li><a href="http://irssi.org/">Irssi - IRC Client (with Screen)</a></li>
 <li><a href="http://www.arg0.net/encfs">EncFs - Encrypted File System</a></li>
 <li><a href="https://www.dropbox.com/home">DropBox - Cloud storage (with EncFs)</a></li>
 <li><a href="https://fastmail.fm">Fastmail - e-mail hosting service</a></li>
 <li><a href="http://theopenphotoproject.org">OpenPhoto - photo hosting service (with Dropbox)</a></li>
 <li><a href="http://pelican.notmyidea.org/">Pelican - Blogging tool</a></li>
 <li><a href="http://github.com/">Github.com - DVCS host</a></li>
 <li><a href="http://bitbucket.org">Bitbucket.org - DVCS Host</a></li>
 <li><a href="https://www.mozilla.org">Firefox - Web Browser</a></li>
 <li><a href="https://www.mozilla.org">Thunderbird - e-mail client</a></li>
</ul>
</article>
</div>
</section>

{% endblock %}

